@model List<CosmiComics.Models.Products>
@{
    ViewBag.Title = "OverView";
}

<h2>OverView</h2>

<table>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>

